<div class="product-sizes">
    <div class="product-sizes__top">
        <div class="product-sizes__name">Размеры</div>
        <div class="product-sizes__tabl">
            <a href="#" class="link-arrow" data-modal-ajax-open="table-size">
                <span class="link-arrow__text">Таблица размеров</span>
            </a>
        </div>
    </div>
    <div class="product-sizes__all">
        <div class="counter">
            <div class="counter__name">Все</div>
            <div class="counter__col">
                <div class="counter__main">
                    <div class="counter__btn">{{ mixins.icon('minus') }}</div>
                    <input class="counter__input" type="text">
                    <div class="counter__btn">{{ mixins.icon('plus') }}</div>
                </div>
                <div class="counter__info">Ост: 56шт.</div>
            </div>
        </div>
    </div>
    <div class="product-sizes__grid">
        {% for i in range(0, 12) %}
            <div class="counter counter--yellow">
                <div class="counter__name">{{ 30 + i }}</div>
                <div class="counter__col">
                    <div class="counter__main">
                        <div class="counter__btn">{{ mixins.icon('minus') }}</div>
                        <input class="counter__input" type="text">
                        <div class="counter__btn">{{ mixins.icon('plus') }}</div>
                    </div>
                    <div class="counter__info">Ост: 56шт.</div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="product-sizes__quantity">
        <span>Количество:</span> <span class="status status--many">Много</span> <span class="status status--few">Мало</span>
    </div>
</div>
