<div class="product-total">
    <div class="product-total__text">Итого:</div>
    <div class="product-total__price">
        355 150 ₽
    </div>
    <div class="product-total__row">
        <a href="#" class="btn btn--medium">В корзину</a>
        <div class="favorite-icon">
            {{ mixins.icon('heart') }}
        </div>
    </div>
</div>
