<div class="product-prices">
    <div class="product-prices__col">
        <div class="product-prices__old"></div>
        <div class="product-prices__price"><b>2 110</b> ₽</div>
        <div class="product-prices__name">Розница</div>
        <div class="product-prices__description"></div>
    </div>
    <div class="product-prices__col">
        <div class="product-prices__old"></div>
        <div class="product-prices__price"><b>850</b> ₽ </div>
        <div class="product-prices__name">Мел. опт</div>
        <div class="product-prices__description">(от 6 000)</div>
    </div>
    <div class="product-prices__col">
        <div class="product-prices__old"><b>320</b></div>
        <div class="product-prices__price"><b>650</b> ₽ </div>
        <div class="product-prices__name">Сред. опт</div>
        <div class="product-prices__description">(от 15 000 ₽)</div>
    </div>
    <div class="product-prices__col">
        <div class="product-prices__old"><b>320</b> ₽</div>
        <div class="product-prices__price"><b>350</b> ₽ </div>
        <div class="product-prices__name">Круп. опт</div>
        <div class="product-prices__description">(от 25 000 ₽)</div>
    </div>
</div>
