<div class="product-total">
    <div class="product-total__text">Итого:</div>
    <div class="product-total__price">
        <b>355 150</b> ₽
    </div>
    <div class="product-total__row">
        <a href="#" data-modal-ajax-open="successful-addition" class="btn btn--medium">
            <div class="btn__icon">
                {{ mixins.icon('basket') }}
            </div>
            <div class="btn__text">
                В корзину
            </div>
        </a>
        <div class="favorite-icon">
            {{ mixins.icon('heart') }}
        </div>
    </div>
</div>
