.title-h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  @include xl-screen {
    font-size: 26px;
    line-height: 36px;
  }

  @include lg-screen {
    font-size: 22px;
    line-height: 30px;
  }

  @include sm-screen {
    font-size: 18px;
    line-height: 25px;
  }
}
