{% set title = "404"%}

{% extends "layouts/_layout.twig" %}

{% block content %}
    <section class="section-404">
        <h1 class="section-404__title">404</h1>
        <div class="section-404__bold">Упс, здесь ничего нет</div>
        <div class="section-404__text">
            Возможно, запрашиваемая страница временно недоступна или удалена
        </div>
        <a href="./" class="btn btn--big">На главную</a>
    </section>
{% endblock %}
