{% set title = "О компании" %}

{% extends "layouts/_layout.twig" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <script async src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
{% endblock %}
{% block content %}
    {% include "./partials/_breadcrumbs.twig" %}
    <div class="page-1320">
        <h1 class="title-page">О компании</h1>
        <div class="about-description">
            <p>Торговая марка «Астратекстиль» предлагает женский трикотаж оптом от производителя. Трикотажные изделия
                нашей компании изготавливаются из полотен российского и зарубежного производства. Дата основания
                компании 22 июля 1997 года, у нас многолетний опыт работы на российском рынке. За этот период мы
                зарекомендовали себя как надежный и ответственный поставщик. Пошив осуществляется строго по ГОСТам. Вся
                продукция сертифицирована и соответствует стандартам качества. Предлагаемый ассортимент от 42 до 72
                размера.
            </p>
            <p> Мы изготавливаем и разрабатываем как изделия, указанные на сайте, так же и на заказ (по Вашему желанию).
                Для изготовления одежды мы используем только качественные ткани. Постоянно происходит обновление
                ассортимента и цветовой гаммы.
            </p>
            <h4>Подзаголовок</h4>
            <p>Торговая марка «Астратекстиль» предлагает женский трикотаж оптом от производителя. Трикотажные изделия
                нашей компании изготавливаются из полотен российского и зарубежного производства. Дата основания
                компании 22 июля 1997 года, у нас многолетний опыт работы на российском рынке. За этот период мы
                зарекомендовали себя как надежный и ответственный поставщик. Пошив осуществляется строго по ГОСТам. Вся
                продукция сертифицирована и соответствует стандартам качества. Предлагаемый ассортимент от 42 до 72
                размера.</p>
        </div>
        <div class="about-numbers">
            <h2 class="about-numbers__title">Астра текстиль в <span class="accent">цифрах</span></h2>
            <div class="about-numbers__grid">
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        10
                    </div>
                    <div class="about-numbers__text">
                        лет на рынке
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        170
                    </div>
                    <div class="about-numbers__text">
                        сотрудников
                        (6 подразделений и 15 отделов)
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        1 000
                    </div>
                    <div class="about-numbers__text">
                        товаров на сайте
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        1 500 000
                    </div>
                    <div class="about-numbers__text">
                        изделий продано за год
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        2 000 000
                    </div>
                    <div class="about-numbers__text">
                        изделий произведено за год
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        45 000
                    </div>
                    <div class="about-numbers__text">
                        заказов отправлено за год
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        2 100
                    </div>
                    <div class="about-numbers__text">
                        м2 производственные площади
                    </div>
                </div>
                <div class="about-numbers__item">
                    <div class="about-numbers__num">
                        3 600
                    </div>
                    <div class="about-numbers__text">
                        м2 складские площади
                    </div>
                </div>
            </div>
        </div>
        <div class="about-slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for i in range(0, 7) %}
                        <div class="swiper-slide about-slider__item">
                            <a href="img/sert.webp"
                               data-fancybox="gallery"
                               data-caption="Название сертификата"
                               class="about-slider__link"
                            >
                                <picture>
                                    <source data-srcset="img/sert.webp" type="image/webp"/>
                                    <img class="lazy" data-src="img/sert.jpg" alt="">
                                </picture>
                            </a>
                            <div class="about-slider__name">Описание фотки сертификата итд</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-arrow sm-none">
                <div class="swiper-arrow__item swiper-arrow__item--prev">
                    {{ mixins.icon('swiper-prev') }}
                </div>
                <div class="swiper-arrow__item swiper-arrow__item--next">
                    {{ mixins.icon('swiper-next') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
