{% set title = "Доставка и оплата" %}

{% extends "layouts/_layout.twig" %}

{% block content %}
    {% include "./partials/_breadcrumbs.twig" %}
    <div class="page-1320">
        <h1 class="title-page">Доставка и оплата</h1>
    </div>
{% endblock %}
