{% set title = "Избранное" %}

{% extends "layouts/_layout-lk.twig" %}

{% block content %}
    <h2 class="section-lk__head">Избранное</h2>
    <div class="favorites-list">
        {% for i in range(0, 7) %}
            <div class="card-horizontal card-horizontal--available">
                <div class="card-horizontal__row">
                    <div class="card-horizontal__left sm-none">
                        <div class="card-horizontal__image">
                            <picture>
                                <source data-srcset="img/product-1.webp" type="image/webp"/>
                                <img class="lazy" data-src="img/product-1.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-horizontal__wrap">
                        <div class="card-horizontal__left sm-flex none">
                            <div class="card-horizontal__image">
                                <picture>
                                    <source data-srcset="img/product-1.webp" type="image/webp"/>
                                    <img class="lazy" data-src="img/product-1.jpg" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="card-horizontal__description">
                            <div class="card-horizontal__title">Б0760-2 Футболка женская люрекс</div>
                            <div class="card-horizontal__text">
                                <span class="grey">Артикул:</span> Б0760-2
                            </div>
                            <div class="card-horizontal__text">
                                <span class="grey">Цвет:</span> фиолетовый
                            </div>
                        </div>
                        <div class="card-horizontal__prices">
                            <div class="product-prices-v2">
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"></div>
                                    <div class="product-prices-v2__price"><b>2 110</b> ₽</div>
                                    <div class="product-prices-v2__name">Розница</div>
                                    <div class="product-prices-v2__description"></div>
                                </div>
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"></div>
                                    <div class="product-prices-v2__price"><b>850</b> ₽ </div>
                                    <div class="product-prices-v2__name">Мел. опт</div>
                                    <div class="product-prices-v2__description">(от 6 000)</div>
                                </div>
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"><b>320</b></div>
                                    <div class="product-prices-v2__price"><b>650</b> ₽ </div>
                                    <div class="product-prices-v2__name">Сред. опт</div>
                                    <div class="product-prices-v2__description">(от 15 000 ₽)</div>
                                </div>
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"><b>320</b> ₽</div>
                                    <div class="product-prices-v2__price"><b>350</b> ₽ </div>
                                    <div class="product-prices-v2__name">Круп. опт</div>
                                    <div class="product-prices-v2__description">(от 25 000 ₽)</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-horizontal__right">
                            <div class="card-horizontal__status green">Товар в наличии</div>
                            <a href="#" class="btn btn--medium" data-modal-ajax-open="fast-view">Подробнее</a>
                            <div class="card-horizontal__remove">
                                {{ mixins.icon('close') }}
                            </div>
                        </div>
                        <div class="card-horizontal__sizes">
                            <span class="grey">Доступные размеры:</span> 46 50 55 58
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-horizontal card-horizontal--not-available">
                <div class="card-horizontal__row">
                    <div class="card-horizontal__left sm-none">
                        <div class="card-horizontal__image">
                            <picture>
                                <source data-srcset="img/product-1.webp" type="image/webp"/>
                                <img class="lazy" data-src="img/product-1.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-horizontal__wrap">
                        <div class="card-horizontal__left sm-flex none">
                            <div class="card-horizontal__image">
                                <picture>
                                    <source data-srcset="img/product-1.webp" type="image/webp"/>
                                    <img class="lazy" data-src="img/product-1.jpg" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="card-horizontal__description">
                            <div class="card-horizontal__title">Б0760-2 Футболка женская люрекс</div>
                            <div class="card-horizontal__text">
                                <span class="grey">Артикул:</span> Б0760-2
                            </div>
                            <div class="card-horizontal__text">
                                <span class="grey">Цвет:</span> фиолетовый
                            </div>
                        </div>
                        <div class="card-horizontal__prices">
                            <div class="product-prices-v2">
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"></div>
                                    <div class="product-prices-v2__price"><b>2 110</b> ₽</div>
                                    <div class="product-prices-v2__name">Розница</div>
                                    <div class="product-prices-v2__description"></div>
                                </div>
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"></div>
                                    <div class="product-prices-v2__price"><b>850</b> ₽ </div>
                                    <div class="product-prices-v2__name">Мел. опт</div>
                                    <div class="product-prices-v2__description">(от 6 000)</div>
                                </div>
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"><b>320</b></div>
                                    <div class="product-prices-v2__price"><b>650</b> ₽ </div>
                                    <div class="product-prices-v2__name">Сред. опт</div>
                                    <div class="product-prices-v2__description">(от 15 000 ₽)</div>
                                </div>
                                <div class="product-prices-v2__col">
                                    <div class="product-prices-v2__old"><b>320</b> ₽</div>
                                    <div class="product-prices-v2__price"><b>350</b> ₽ </div>
                                    <div class="product-prices-v2__name">Круп. опт</div>
                                    <div class="product-prices-v2__description">(от 25 000 ₽)</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-horizontal__right">
                            <div class="card-horizontal__status green">Товар в наличии</div>
                            <a href="#" class="btn btn--medium" data-modal-ajax-open="fast-view">Подробнее</a>
                            <div class="card-horizontal__remove">
                                {{ mixins.icon('close') }}
                            </div>
                        </div>
                        <div class="card-horizontal__sizes">
                            <span class="grey">Доступные размеры:</span> 46 50 55 58
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include "partials/_pagination.twig" %}
{% endblock %}
