{% set index = true %}
{% set panel = true %}
{% set title = "Главная"%}

{% extends "layouts/_layout.twig" %}

{% block content %}
    <section class="section-main-slider">
        {% include "partials/_main-slider.twig" %}
    </section>
    <section class="section-products">
        <div class="section-products__top">
            <a href="#" class="section-products__link is-active">Новинки</a>
            <a href="#" class="section-products__link">Хит продаж</a>
            <a href="#" class="section-products__link">Распродажа</a>
            <a href="#" class="section-products__link">Все по 200</a>
        </div>
        <div class="section-products__grid">
            <div class="card-product">
                <div class="card-product__wrapper">
                    <div class="card-product__top">
                        <div class="card-product__labels">
                            <div class="label-status action">
                                40%
                            </div>
                        </div>
                        <div class="card-product__favorites">
                            <div class="favorite-icon is-active">
                                {{ mixins.icon('heart') }}
                            </div>
                        </div>
                        <div class="card-product__images">
                            <picture>
                                <source data-srcset="img/product-3.webp" type="image/webp"/>
                                <img class="lazy" data-src="img/product-3.jpg" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="card-product__bottom">
                        <div class="card-product__title">Б0760-2 Футболка женская люрекс</div>
                        <div class="card-product__row">
                            <div class="card-product__col">
                                <span class="card-product__old-price"></span>
                                <span class="card-product__price"><b>1 350</b> ₽</span>
                                <span class="card-product__price-name">Розница</span>
                            </div>
                            <div class="card-product__col sm-none">
                                <span class="card-product__old-price">1 200 ₽</span>
                                <span class="card-product__price"><b>1 050</b> ₽</span>
                                <span class="card-product__price-name">Мел. опт</span>
                            </div>
                            <div class="card-product__col sm-none">
                                <span class="card-product__price"><b>650</b> ₽</span>
                                <span class="card-product__price-name">Сред. опт</span>
                            </div>
                            <div class="card-product__col sm-none">
                                <span class="card-product__old-price">390 ₽</span>
                                <span class="card-product__price"><b>350</b> ₽</span>
                                <span class="card-product__price-name">Круп. опт</span>
                            </div>
                        </div>
                        <div class="card-product__dropdown">
                            <div class="card-product__description">Размер: 44 45 46 48 50 52 56 58</div>
                            <div class="card-product__description">Материал: Хлопок 60%, Полиамид 40%</div>
                            <button class="card-product__button btn">
                                В корзину
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% for i in range(0, 9) %}
                {% include "partials/_card-product.twig" %}
            {% endfor %}
        </div>
        <div class="section-products__more">
            <button class="btn btn--medium btn--stroke">Показать еще</button>
        </div>
    </section>

    <section class="section-reviews">
        <div class="section-head">
            <h2 class="section-head__title title-h2">
                Отзывы
            </h2>
            <div class="section-head__right">
                <a href="#" class="link-arrow">
                    <span class="link-arrow__text">Все отзывы</span> {{ mixins.icon('arrow-link-right') }}
                </a>
            </div>
        </div>
        <div class="slider-reviews">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for i in range(0, 7) %}
                        <div class="swiper-slide">
                            <div class="card-reviews">
                                <div class="card-reviews__top">
                                    <span class="card-reviews__data">26.09.2022</span>
                                    <span class="card-reviews__geolocation">Краснодарский край, ст Васюринская</span>
                                </div>
                                <div class="card-reviews__title">
                                    График работы в праздничные дни 2023
                                </div>
                                <div class="card-reviews__text">
                                    Последний день отгрузок 30 декабря. Если вы не успели оплатить свой заказ, то отгрузка будет после праздничных дней.
                                    С 1 января по 8 января заказы принимаются в обычном режиме. Обработка заказов и выставление счетов начнутся с 9 января.
                                </div>
                                <a href="#" class="link-arrow">
                                    Читать полностью
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-arrow sm-none">
                <div class="swiper-arrow__item swiper-arrow__item--prev">
                    {{ mixins.icon('swiper-prev') }}
                </div>
                <div class="swiper-arrow__item swiper-arrow__item--next">
                    {{ mixins.icon('swiper-next') }}
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination--mod"></div>
        </div>
    </section>

    {% include "partials/_section-advantages.twig" %}
    {% include "partials/_section-news.twig" %}
{% endblock %}
