{% set index = true %}
{% set panel = true %}
{% set title = "Главная"%}

{% extends "layouts/_layout.twig" %}

{% block content %}
    <section class="section">
        {% include "partials/_main-slider.twig" %}
    </section>
    <section>
        {% include "partials/_advantages-block.twig" %}
    </section>
{% endblock %}
