{% set index = true %}
{% set panel = true %}
{% set title = "Главная"%}

{% extends "layouts/_layout.twig" %}

{% block content %}
    <h1>Главная</h1>
    <div class="main-slider">

    </div>
{% endblock %}
