.product-total {
  $block: &;

  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &__price {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;

    @include sm-screen {
      font-size: 22px;
      line-height: 29px;
    }
  }

  &__row {
    display: flex;

    .btn {
      margin-right: 25px;
      width: 100%;

      @include sm-screen {
        margin-right: 10px;
      }
    }
  }

  &--sm-fixed {

    @include sm-screen {
      position: fixed;
      align-items: center;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      background: #fff;
      padding: 7px 15px;
      box-shadow: 0 4px 35px rgba(0, 0, 0, 0.1);
      justify-content: space-between;

      #{$block}__price {
        margin-bottom: 0;
      }

      #{$block}__text {
        margin-bottom: 0;
      }
    }

    .favorite-icon {
      width: 44px;
      height: 44px;
      font-size: 18px;
    }
  }
}
