.product-detail {
  display: flex;
  margin-bottom: 40px;

  @include sm-screen {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  &__images {
    //flex: 1 1 0;
    margin-right: 60px;
    width: 32%;

    @include xl-screen {
      margin-right: 50px;
    }

    @include lg-screen {
      width: 30%;
      margin-right: 40px;
    }

    @include md-screen {
      width: 40%;
    }

    @include sm-screen {
      width: 100%;
      margin-right: 0;
    }
  }

  &__row {
    width: calc(68% - 60px);
    display: flex;
    justify-content: space-between;

    @include xl-screen {
      width: calc(66.666% - 50px);
    }

    @include lg-screen {
      width: calc(70% - 40px);
    }

    @include r(1132px) {
      flex-direction: column;
      width: calc(60% - 40px);
    }

    @include sm-screen {
      width: 100%;
    }
  }

  &__col {
    width: 100%;

    @include sm-screen {
      margin-bottom: 50px;
    }

    &:first-child {
      width: calc(59% - 50px);
      margin-right: 50px;

      @include xl-screen {
        margin-right: 39px;
        width: calc(59% - 39px);
      }

      @include r(1132px) {
        width: 100%;
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
      }
    }

    &:last-child {
      @include rmin(1132px) {
        width: 41%;
        max-width: 434px;
      }
    }
  }

  .product-sizes, .product-prices, .product-colors {
    margin-bottom: 40px;
  }
}

.product-detail-description {
  margin-bottom: 30px;

  .grey {
    color: var(--background-components);
  }
}

.product-description {
  &__title {
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
  }

  &__col:first-child {
    width: 100px;
    flex-shrink: 0;
    color: #6C6C6C;
    padding-right: 10px;
  }
}

.product-slider  {

  @include rmin($break_sm) {
    position: sticky;
    top: 20px;
  }

  &__main {
    //@include ratio(87, 130);
    position: relative;
    //border: 1px solid var(--background-components);
    border-radius: 10px;
    margin-bottom: 28px;

    //img {
    //  @include coverdiv();
    //  @include ofi(cover, center);
    //}

    .swiper {
      .swiper-slide {

        @include sm-screen {
          width: 206px;
          position: relative;
          margin-right: 15px;
        }
      }
    }
  }

  &__nav {
    .swiper-slide-thumb-active .product-image {
      border-color: var(--accent);
    }
  }

  .product-image {
    border-radius: 12px;
    @include ratio(120, 180);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;

    &--border {
      border: 2px solid var(--background-components);
    }

    img {
      @include coverdiv();
      @include ofi(cover, center);
    }
  }
}
