<nav aria-label="breadcrumbs" class="breadcrumb">
    <ul class="breadcrumb__list">
        <li class="breadcrumb__item">
            <a href="/" class="breadcrumb__link">
                Главная
            </a>
        </li>
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__link">
                Каталог
            </a>
        </li>
        <li class="breadcrumb__item">
            <a href="#" class="breadcrumb__link">
                Женский трикотаж
            </a>
        </li>
    </ul>
</nav>
