<div class="footer">
    <div class="footer__container container">
        <div class="footer__row">
            <div class="footer__col">
                <div class="footer__top">
                    <div class="footer__title">
                        Каталог
                        <svg class="icon" x="0px" y="0px" viewBox="0 0 25 25">
                            <circle cx="12.5" cy="12.5" r="12.5"/>
                            <polygon fill="#ffffff"  points="13,15.5 8.8,11.2 10.2,9.8 13,12.7 15.8,9.8 17.2,11.2 "/>
                        </svg>
                    </div>
                </div>
                <ul class="footer__list column-2">
                    <li>
                        <a href="#">Детский трикотаж</a>
                    </li>
                    <li>
                        <a href="#">Домашняя обувь</a>
                    </li>
                    <li>
                        <a href="#">Женский трикотаж</a>
                    </li>
                    <li>
                        <a href="#">Мужской трикотаж</a>
                    </li>
                    <li>
                        <a href="#">Прочие товары</a>
                    </li>
                    <li>
                        <a href="#">Товары для дома</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col footer__col--info">
                <div class="footer__top">
                    <div class="footer__title">
                        Информация
                        <svg class="icon" x="0px" y="0px" viewBox="0 0 25 25">
                            <circle cx="12.5" cy="12.5" r="12.5"/>
                            <polygon fill="#ffffff"  points="13,15.5 8.8,11.2 10.2,9.8 13,12.7 15.8,9.8 17.2,11.2 "/>
                        </svg>
                    </div>
                </div>
                <ul class="footer__list column-2">
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                    <li><a href="#" class="">Новости</a></li>
                </ul>
            </div>
            <div class="footer__col footer__col--contacts">
                <div class="footer__top">
                    <div class="footer__title">
                        Контакты
                    </div>
                </div>
                <div class="footer__contacts">
                    <div class="footer__contacts-item">
                        <div class="contact-item">
                            <div class="contact-item__icon">
                                {{ mixins.icon('phone') }}
                            </div>
                            <div class="contact-item__info">
                                <a href="tel:+7 920 673 97 05" class="contact-item__phone">
                                    +7 (920) 673 97 05</a> <br>
                                <a href="#" data-modal-ajax-open="callback">Перезвоните мне</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__contacts-item">
                        <div class="contact-item">
                            <div class="contact-item__icon">
                                {{ mixins.icon('message') }}
                            </div>
                            <div class="contact-item__info">
                                <a href="mailto:astraivtex2010@yandex.ru" target="_blank">astraivtex2010@yandex.ru</a>
                                <br>
                                техническая поддержка
                            </div>
                        </div>
                    </div>
                    <div class="footer__contacts-item">
                        <div class="footer__social-text">
                            Присоединяйтесь к нам <br>
                            в социальных сетях:
                        </div>
                        {% include "./_social.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="copyright__container container">
            <div class="copyright__row">
                <div class="copyright__text">Астра Текстиль ©Текстиль из Иваново 2022</div>
            </div>
        </div>
    </div>
</div>
