<div class="recommendations">
    <div class="recommendations__item blue">
        <div class="recommendations__icon">
            {{ mixins.icon('new') }}
        </div>
        <a href="#" class="recommendations__link">
            Новинки
        </a>
    </div>
    <div class="recommendations__item accent">
        <div class="recommendations__icon">
            {{ mixins.icon('actions') }}
        </div>
        <a href="#" class="recommendations__link">
            Акции
        </a>
    </div>
    <div class="recommendations__item yellow">
        <div class="recommendations__icon">
            {{ mixins.icon('star') }}
        </div>
        <a href="#" class="recommendations__link">
            Хиты продаж
        </a>
    </div>
</div>
