<section class="section-advantages">
    <h2 class="section-advantages__title title-h2">
        Сотрудничество с нами выгодно вам
    </h2>
    <div class="section-advantages__grid" >
        <div class="section-advantages__item">
            <div class="section-advantages__icon">
                {{ mixins.icon('jersey') }}
            </div>
            <div class="section-advantages__text" >
                Вы приобретаете ивановский трикотаж оптом от производителя
            </div>
        </div>
        <div class="section-advantages__item">
            <div class="section-advantages__icon">
                {{ mixins.icon('medal') }}
            </div>
            <div class="section-advantages__text">
                Мы гарантируем высокое качество товара и разнообразие ассортимента и торговых предложений
            </div>
        </div>
        <div class="section-advantages__item">
            <div class="section-advantages__icon">
                {{ mixins.icon('rub') }}
            </div>
            <div class="section-advantages__text">
                Мы предлагаем качественные товары в сочетании со справедливой ценой
            </div>
        </div>
        <div class="section-advantages__item">
            <div class="section-advantages__icon">
                {{ mixins.icon('user-advantages') }}
            </div>
            <div class="section-advantages__text">
                Обеспечиваем индивидуальный подход к каждому покупателю
            </div>
        </div>
    </div>
</section>
