.card-horizontal {
  $block: &;
  @extend .default-border;
  overflow: hidden;
  padding: 23px 30px;
  position: relative;
  background: #fff;

  @include sm-screen {
    padding: 15px;
  }

  &__row {
    display: flex;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 15px;
  }

  &__prices {
    @include sm-screen {
      width: 100%;
      max-width: 315px;
    }
  }

  &__left {
    margin-right: 40px;
    display: flex;
    align-items: flex-start;

    @include xl-screen {
      margin-right: 15px;
    }

    @include xs-screen {
      margin-right: 0;
    }
  }

  &__image {
    @include ratio(88, 132);
    position: relative;
    width: 88px;
    background: var(--background-components);
    border-radius: 12px;
    flex-shrink: 0;

    @include xl-screen {
      width: 64px;
    }

    @include xs-screen {
      width: 60px;
    }

    img {
      @include coverdiv();
      @include ofi(cover, center);
    }
  }

  &__prices {
    margin: 0 auto;

    @include lg-screen {
      order: 4;
      margin: 0;
    }
  }

  &__sizes {
    border-top: 1px solid var(--background-components-v2);
    padding-top: 16px;
    margin-top: auto;
    width: 100%;
    font-size: 14px;

    @include xl-screen {
      order: 5;
    }
  }

  &__description {
    max-width: 400px;

    @include lg-screen {
      width: calc(100% - 200px);
    }

    @include sm-screen {
      width: calc(100% - 270px);
    }

    @include xs-screen {
      width: calc(100% - 100px);
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 15px;
  }

  &__text {
    margin-bottom: 10px;
  }

  &__right {
    margin-left: auto;
    max-width: 237px;
    width: 100%;
    text-align: right;
    margin-top: 10px;

    @include xl-screen {
      max-width: 160px;
    }

    @include sm-screen {
      margin-top: 20px;
    }

    @include xs-screen {
      max-width: 100%;
      width: 100%;
      order: 7;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      margin: 0;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__remove {
    position: absolute;
    right: 15px;
    top: 15px;
    color: var(--accent);
    cursor: pointer;
    transition: var(--theme-duration) var(--ease) color;

    &:hover {
      color: var(--main-color-font);
    }
  }

  &__status {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;

    @include xs-screen {
      margin: 0;
    }
  }

  &--available {
    border-color: var(--color-green) !important;

    #{$block}__status {
      color: var(--color-green);
    }
  }

  &--not-available {
    color: #6C6C6C;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(#fff, 0.4);
      z-index: 2;
      pointer-events: none;
    }

    #{$block}__status {
      color: var(--accent);
    }
  }
}
