.form-filters {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  box-sizing: border-box;
  min-height: 100%;

  .filter-list {
    margin-bottom: 30px;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: absolute;
    bottom: 0;
    background: #fff;
    height: 60px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 5px 20px;
    box-shadow: 0 4px 35px rgb(0 0 0 / 10%);
    @include sm-screen {
      box-shadow: 0 4px 35px rgb(0 0 0 / 10%);
      padding: 0 15px;
    }

    .btn {
      width: calc(100% - 10px);
    }
  }
}

.filter-list {
  user-select: none;

  &__top {
    margin-bottom: 12px;
    line-height: 20px;
    display: flex;
  }

  &__name {

  }

  &__item {
    margin: 10px 0;
    display: none;

    .filter-list.is-active & {
      display: block !important;
    }

    //&:nth-child(-n+5) {
    //  display: block;
    //}
  }

  &__scroll {
    //max-height: 300px;
    //padding: 5px 0;
    //overflow-y: auto;
    //
    //@include xl-screen {
    //  max-height: 100%;
    //}

    &--grid {
      display: flex;
      flex-wrap: wrap;
      max-width: 220px;
      gap: 10px;
      margin: 20px 0;

      .filter-list__item {
        margin: 0;
      }
    }
  }

  &__btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: var(--accent);

    &.is-active {
      svg {
        transform: rotate(180deg);
      }
    }

    .icon {
      margin-left: 10px;
      font-size: 6px;
    }
  }

  &__reset {
    margin-left: auto;
    color: var(--accent);
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    display: none;

    &.is-active {
      display: inline-flex;
    }

    .icon {
      margin-left: 10px;
    }

    &:hover {
      color: var(--main-color-font);
    }
  }
}

.filter-list-color {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 10px;
  margin: 20px 0;
  max-width: 220px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
