.btn {
  border: none;
  background: transparent;
  padding: 0 35px;
  gap: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  transition: var(--theme-duration) var(--ease);
  font-weight: 500;
  position: relative;
  cursor: pointer;
  background: var(--accent);
  border-radius: var(--border-radius-btn);
  color: #fff;

  &[disabled] {
    opacity: 0.8;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background: var(--accentHover);
  }

  &--full {
    width: 100%;
  }

  &--transparent {
    text-transform: uppercase;
  }

  &--medium {
    min-height: 43px;
  }

  &--big {
    min-height: 49px;

    @include xl-screen {
      min-height: 43px;
    }
  }

  &--pd-min {
    padding: 0 25px 0 13px;
  }

  &--white {
    background: #fff;
    color: var(--main-color-font);

    &:hover {
      color: #fff;
    }
  }

  &--stroke {
    background: transparent;
    color:  var(--accent);
    border: 1px solid var(--accent);

    &:hover {
      color: #fff;
    }
  }

  &--border-accent {
    border: 1px solid var(--accent)
  }
}

.btn-basket {
  border: none;
  background: transparent;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  line-height: 36px;
  transition: var(--theme-duration) var(--ease);
  font-weight: 500;
  position: relative;
  cursor: pointer;
  background: var(--accent);
  color: #fff;
  font-size: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  span {
    display: inline-flex;
  }

  .icon-add-basket {
    left: 1px;
  }
}
