.counter {
  $block: &;
  display: inline-flex;

  &__name {
    width: 35px;
    line-height: 34px;
    top: 2px;
    user-select: none;
  }

  &__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-light);
    user-select: none;
  }

  &__main {
    position: relative;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid var(--color-light-v2);
    display: inline-flex;
    overflow: hidden;
  }

  &__input {
    border: none;
    outline: none;
    width: 33px;
    min-height: 34px;
    text-align: center;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 11px;
    cursor: pointer;

    &:hover {
      background: var(--background-components);
      color: var(--accent);
    }
  }

  &.counter--yellow  {

    #{$block}__main {
      border-color: var(--color-yellow);
    }
  }

  &.counter--disabled {

    #{$block}__main {
      cursor: default;
      pointer-events: none;
    }
  }

  &.counter--green  {

    #{$block}__main {
      border-color: var(--color-green);
    }
  }

  &__col {
    position: relative;

    &:hover {
      z-index: 1;
      #{$block}__popup {
        display: block;
      }
    }
  }

  &__popup {
    position: absolute;
    top: calc(100% - 15px);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    padding: 15px;
    border-radius: 12px;
    display: none;
    background: #fff;
  }

  .btn-i__text {
    white-space: nowrap !important;
  }
}
