.link-arrow {
  color: var(--accent);
  transition: 0.15s ease-in-out;
  align-items: center;
  display: inline-flex;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  grid-gap: 10px;

  @include lg-screen {
    font-size: 14px;
    line-height: 19px;
  }

  &__text {
    text-decoration: underline;
    font-weight: bold;
  }

  &:hover {
    color: var(--accentHover);
  }

  .icon-arrow-link-right {
    //margin-left: 10px;
    font-size: 12px;
  }

  &--accent {
    color: var(--accent);

    &:hover {
      color: #3C3C3C;
    }
  }
}
