.link-arrow {
  color: var(--accent);
  transition: 0.15s ease-in-out;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  grid-gap: 10px;

  &__text {
    text-decoration: underline;
    font-weight: bold;
  }

  &:hover {
    color: var(--accentHover);
  }

  .icon-arrow-link-right {
    //margin-left: 10px;
    font-size: 12px;
  }

  &__icon {

    @for $i from 5 to 25 {
      &--fs#{$i} {
        font-size: #{$i}px;
      }
    }
  }

  &--accent {
    color: var(--accent);

    &:hover {
      color: #3C3C3C;
    }
  }
}
