.pagination {
  display: inline-flex;

  .page-item {
    margin: 0 5px;

    @include xs-screen {
      margin: 0 2px;
    }

    .disabled {
      pointer-events: none;
    }
  }

  .page-link {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #A0A0A0;
    border-radius: 50%;
    outline: none;
    background: transparent;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #6E6E6E;
    cursor: pointer;
    font-size: 16px;

    @include md-screen {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
    }

    @include r(410px) {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }

    &.is-active {
      background: $accent;
      border-color: $accent;
      color: #fff;
    }

    &.disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.7;
    }

    &--icon {
      border: none;
    }

    &:hover {
      border-color: $accent;
    }
  }
}

.paginator-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px 0 80px;

  @include sm-screen {
    justify-content: center;
  }

  &__load {
    border: 1px solid currentColor;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 50px;
    color: var(--accent);
    border-radius: 25px;
    background: transparent;
    transition: 0.15s ease-in-out;

    @include md-screen {
      height: 40px;
    }

    @include sm-screen {
      width: 100%;
      margin-bottom: 20px;
    }

    svg {
      font-size: 10px;
      margin-right: 10px;
    }

    &:hover {
      color: var(--main-color-font);
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  .pagination {
    @include rmin($break_sm) {
      margin-left: auto;
    }
  }
}
