.ui-slider {
  position: relative;
  height: 3px;
  width: calc(100% - 20px);
  margin: 30px 0;
  border-radius: 3px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 20px);
    height: 100%;
    background: var(--background-components-v2);
  }
}

.ui-widget-header {
  background-color: var(--accent);
  position: absolute;
  height: 3px;
  top: 0
}

.ui-slider-handle {
  position: absolute;
  z-index: 2;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--accent);
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

//.ui-slider-handle:nth-child(2){
//  transform: translate(0, -50%);
//}
//
//.ui-slider-handle:nth-child(3){
//  transform: translate(0, -50%);
//}

.ui-slider-handle:before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px
}

.slider-range {
  max-width: 210px;
  width: 100%;

  &__head {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--background-components-v2);
    border-radius: 20px;
    position: relative;

    &:before {
      content: '';
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
      position: absolute;
      background: var(--background-components-v2);
    }
  }

  &__head-block {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 10px;
  }

  &__input {
    width: 60px;
    border: none;
    text-align: center;
    font-size: 16px;
  }

  &__container {
    //width: calc(100% - 20px);
  }
}
