.table-size {
  width: 100%;
  overflow: auto;
  @extend .custom-scroll;

  table {
    border: none;
    outline: none;

    thead {

      td {
        background: var(--accent);
        color: #fff;
      }
    }

    tr {
      border: none;
    }

    td {
      min-width: 100px;
      max-width: 200px;
      border: 2px solid #fff;
      background: var(--background-components);
      color: var(--main-color-font);
    }

    td {
      padding: 10px;
    }
  }
}
