{% import "partials/_mixins.twig" as mixins %}

<div class="modal modal--w450 modal--sm-bottom" data-modal="add-basket" data-modal-onclose="remove">
    <div class="modal__inner custom-scroll" data-modal-inner="add-basket">
        <div class="modal__close" data-modal-close="add-basket">
            {{ mixins.icon('close') }}
        </div>
        <div class="modal__container">
            <div class="modal__scroll">
                <div class="fast-view-product">
                    <div class="fast-view-product__information">
                        <h3 class="fast-view-product__title">Б0760-2 Футболка женская люрекс</h3>
                        <div class="product-prices">
                            <div class="product-prices__col">
                                <div class="product-prices__old"></div>
                                <div class="product-prices__price"><b>2 110</b> ₽</div>
                                <div class="product-prices__name">Розница</div>
                                <div class="product-prices__description"></div>
                            </div>
                            <div class="product-prices__col">
                                <div class="product-prices__old"></div>
                                <div class="product-prices__price"><b>850</b> ₽ </div>
                                <div class="product-prices__name">Мел. опт</div>
                                <div class="product-prices__description">(от 6 000)</div>
                            </div>
                            <div class="product-prices__col">
                                <div class="product-prices__old"><b>320</b></div>
                                <div class="product-prices__price"><b>650</b> ₽ </div>
                                <div class="product-prices__name">Сред. опт</div>
                                <div class="product-prices__description">(от 15 000 ₽)</div>
                            </div>
                            <div class="product-prices__col">
                                <div class="product-prices__old"><b>320</b> ₽</div>
                                <div class="product-prices__price"><b>350</b> ₽ </div>
                                <div class="product-prices__name">Круп. опт</div>
                                <div class="product-prices__description">(от 25 000 ₽)</div>
                            </div>
                        </div>
                        {% include "partials/product/_product-size.twig" %}
                        <div class="product-total product-total--sm-fixed">
                            <div class="product-total__col">
                                <div class="product-total__text">Итого:</div>
                                <div class="product-total__price">
                                    355 150 ₽
                                </div>
                            </div>
                            <div class="product-total__row">
                                <a href="#" type="button" class="btn btn--medium">
                                    <div class="btn__icon">
                                        {{ mixins.icon('basket') }}
                                    </div>
                                    <div class="btn__text">
                                        В корзину
                                    </div>
                                </a>
                                <div class="favorite-icon">
                                    {{ mixins.icon('heart') }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
