{% import "partials/_mixins.twig" as mixins %}

<div class="modal modal--w930 modal--sm-bottom" data-modal="fast-view" data-modal-onclose="remove">
    <div class="modal__inner custom-scroll" data-modal-inner="fast-view">
        <div class="modal__close" data-modal-close="fast-view">
            {{ mixins.icon('close') }}
        </div>
        <div class="modal__container">
            <div class="modal__scroll">
                <div class="fast-view-product">
                    <div class="fast-view-product__slider sm-none">
                        <div class="card-product">
                            <div class="card-product__top">
                                <div class="card-product__images">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            {% for i in range(0, 3) %}
                                                <div class="swiper-slide">
                                                    <picture>
                                                        <source data-srcset="img/product-{{ i + 1 }}.webp" type="image/webp"/>
                                                        <img class="lazy" data-src="img/product-{{ i + 1 }}.jpg" alt="">
                                                    </picture>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="swiper-pagination swiper-pagination--card-product"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fast-view-product__information">
                        <h3 class="fast-view-product__title">Б0760-2 Футболка женская люрекс</h3>
                        {% include "partials/product/_product-prices.twig" %}
                        {% include "partials/product/_product-size.twig" %}
                        {% include "partials/product/_product-total.twig" %}
                    </div>
                    <a href="{{ data.baseUrl }}/product-detail.html" class="fast-view-product__link">Подробнее о товаре</a>
                </div>
            </div>
        </div>
    </div>
</div>
