{% import "partials/_mixins.twig" as mixins %}

<div class="modal modal--auto modal--sm-bottom" data-modal="make-order">
    <div class="modal__inner custom-scroll" data-modal-inner="make-order">
        <div class="modal__close" data-modal-close="make-order">
            {{ mixins.icon('close') }}
        </div>
        <div class="modal__container">
            <h2 class="modal__title">Как сдеклать заказ</h2>
            <div class="modal__scroll modal__scroll--mod">
                <div class="modal__context">
                    <div class="make-order" style="width: 100%; max-width: 700px">
                        <p>1. Просмотрите каталог продукции и определитесь, какие из представленных на сайте модели вы хотели бы приобрести.</p>
                        <p>2. Просмотрите каталог продукции и определитесь, какие из представленных на сайте модели вы хотели бы приобрести.</p>
                        <hr>
                        <picture>
                            <source srcset="img/product-2.webp" type="image/webp"/>
                            <img src="img/product-2.jpg" alt="">
                        </picture>
                        <hr>
                        <p>3. Просмотрите каталог продукции и определитесь, какие из представленных на сайте модели вы хотели бы приобрести.</p>
                        <p>4. Просмотрите каталог продукции и определитесь, какие из представленных на сайте модели вы хотели бы приобрести.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
