{% import "partials/_mixins.twig" as mixins %}

<div class="modal modal--auto modal--sm-bottom" data-modal="message" data-modal-onclose="remove">
    <div class="modal__inner custom-scroll" data-modal-inner="message">
        <div class="modal__close" data-modal-close="message">
            {{ mixins.icon('close') }}
        </div>
        <div class="modal__container">
            <h2 class="modal__title">Напишите нам</h2>
            <div class="modal__scroll">
                <form action="#" class="form-callback">
                    <p>Оставьте заявку и наш менеджер свяжется с вавми в ближайшее время</p>
                    <div class="form-group">
                        <div class="form-group__label">Как Вас зовут</div>
                        <input type="text" name="name" data-rules="require" class="form-group__input" placeholder="Ваше имя" />
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">Ваш телефон</div>
                        <input type="tel" name="phone" data-rules="require|length:18" class="form-group__input" placeholder="Номер телефона" />
                    </div>
                    <div class="form-group">
                        <div class="form-group__label">Сообщение</div>
                        <textarea rows="4" type="text" name="message" data-rules="require" class="form-group__textarea" placeholder=""></textarea>
                    </div>
                    <div class="form-group form-group--mg20">
                        <button type="submit" class="btn btn--medium">Отправить</button>
                    </div>
                    <div class="form-group">
                        <div class="checkbox checkbox--policy">
                            <input type="checkbox" id="subscribe-policy5242" class="checkbox__input" checked="" data-rules="policy">
                            <label for="subscribe-policy5242" class="checkbox__label">
                                <span class="checkbox__icon">{{ mixins.icon('check-mark') }}</span>
                                <span class="checkbox__text checkbox__text--min">
                                            Я согласен на обработку <a href="#">персональных данных</a>
                                        </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
