{% import "partials/_mixins.twig" as mixins %}

<div class="modal modal--auto modal--sm-bottom" data-modal="success-registration" data-modal-onclose="remove">
    <div class="modal__inner custom-scroll" data-modal-inner="success-registration">
        <div class="modal__close" data-modal-close="success-registration">
            {{ mixins.icon('close') }}
        </div>
        <div class="modal__container">
            <div class="success-registration">
                <h2 class="success-registration__title">Вы успешно <br> зарегистрировались</h2>
                <div class="success-registration__icon">
                    {{ mixins.icon('user-plus') }}
                </div>
                <div class="success-registration__btn">
                    <a href="./profile.html" class="btn btn--medium">Войти в литчный кабинет</a>
                </div>
                <div class="success-registration__btn">
                    <a href="./catalog.html" class="btn btn--accent btn--stroke btn--medium">Перейти в каталог</a>
                </div>
            </div>
        </div>
    </div>
</div>
