.modal {
  $block: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //overflow: hidden;
  z-index: 300;
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0);
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
  padding: 20px;
  overflow: auto;

  @include sm-screen {
    padding: 0;
  }

  &.is-active {
    opacity: 1;
    background: rgba(0,0,0,.25);
    pointer-events: auto;
  }

  &__inner {
    background: #fff;
    border: 1px solid var(--background-components-v2);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.016);
    transition: background var(--theme-duration) var(--ease), border-color var(--theme-duration) var(--ease), color var(--theme-duration) var(--ease);
    width: 100%;
    max-width: 728px;
    padding: 20px 25px;
    margin: auto;
    position: relative;
    border-radius: 12px;
    //overflow-y: auto;
    //overflow-x: hidden;

    @include sm-screen {
      padding: 20px 15px;
    }
  }

  &--w930 {
    #{$block}__inner {
      max-width: 930px;
    }
  }

  &--w450 {
    #{$block}__inner {
      max-width: 450px;
    }
  }

  &__close {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    z-index: 5;
    transition: color var(--theme-duration) var(--ease);

    @include sm-screen {
      right: 13px;
    }

    // расширешие области нажатия
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      bottom: -10px;
      left: -10px;
      right: -10px;
      cursor: pointer;
    }

    .icon {
      display: block;
    }

    &:hover {
      color: var(--accent);
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 25px;
    padding-bottom: 14px;
    border-bottom: 1px solid #E3E7E9;
  }

  &--big {
    .modal__inner {
      max-width: 925px;
    }
  }

  &--sm-bottom {

    @include sm-screen {
      #{$block}__inner {
        margin: auto 0 0 0;
        border-radius: 15px 15px 0 0;
        max-height: calc((var(--vh, 1vh) * 90));
        max-width: 100%;
        overflow: hidden;
        border: none;
        transform: translateY(100%);
        transition: 0.4s var(--ease) transform;
      }

      #{$block}__scroll {
        overflow: auto;
        height: 100%;
        max-height: calc((var(--vh, 1vh) * 90) - 25px);

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  &__wrap {
    position: relative;
  }

  &.is-active #{$block}__inner {
    transform: translateY(0);
  }
}

.modal-success {

  .modal__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-bottom: 20px;
  }

  &__message {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.03em;
  }
}

html:not(.ready) {

}
