.btn {
  border: 1px solid currentColor;
  border-radius: 8px;
  background: transparent;
  padding: 0 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 36px;
  transition: var(--theme-duration) var(--ease);
  font-weight: 500;
  position: relative;
  cursor: pointer;

  &[disabled] {
    opacity: 0.8;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background: var(--btnHover);
  }

  .icon-arrow-bottom {
    font-size: 7px;
    display: inline-flex;
    margin-left: 15px;
  }

  &--full {
    width: 100%;
  }
}
