.form-search {
  $block: &;
  min-height: 49px;
  display: flex;
  position: relative;
  width: 100%;

  @include xl-screen {
    min-height: 43px;
  }

  &__input {
    border-radius: var(--border-radius-btn);
    border: 1px solid var(--background-components-v2);
    background: var(--background-components);
    outline: none;
    width: 100%;
    padding: 0 80px 0 23px;

    @include sm-screen {
      padding-right: 30px;
      padding-left: 15px;
    }
  }

  &__btn {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    display: flex;

    @include sm-screen {
      .btn {
        padding: 15px;
      }
    }
  }

  &__result {
    border-radius: 25px;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    border: 1px solid var(--background-components-v2);
    background: var(--background-components);
    width: 100%;
    min-width: 320px;
    overflow: hidden;
    z-index: 20;
    display: none;

    @include xs-screen {
      min-width: 290px;
    }

    .custom-scroll {
      overflow: auto;
      max-height: calc(40px * 10);
    }
  }

  &__message {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 12px;
    position: relative;
  }

  &__item {
    padding: 10px 20px;
    display: block;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: var(--color-light);
      opacity: 0.3;
    }
  }

  &__input:focus ~ &__result {
    display: block;
  }
}
