.form-search {
  min-height: 49px;
  display: flex;
  position: relative;
  width: 100%;

  @include xl-screen {
    min-height: 43px;
  }

  &__input {
    border-radius: var(--border-radius-btn);
    border: 1px solid var(--background-components-v2);
    background: var(--background-components);
    outline: none;
    width: 100%;
    padding: 0 80px 0 23px;

    @include sm-screen {
      padding-right: 30px;
      padding-left: 15px;
    }
  }

  &__btn {
    position: absolute;
    right: 3px;
    top: 3px;
    bottom: 3px;
    display: flex;

    @include sm-screen {
      .btn {
        padding: 15px;
      }
    }
  }
}
