.section-head {
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  @include xl-screen {
    margin-bottom: 45px;
  }

  @include md-screen {
    margin-bottom: 30px;
  }

  @include sm-screen {
    margin-bottom: 25px;
  }

  &__title {
    font-weight: bold;
    margin-right: 40px;

    @include sm-screen {
      margin-right: 20px;
    }
  }

  &__right {
    margin-left: auto;
  }
}
