.section-404 {
  display: flex;
  height: calc(100vh - 170px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px 0;

  @include xs-screen {
    height: auto;
  }

  &__title {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    //color: var(--accent);
    margin-bottom: 30px;
  }

  &__bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  &__text {
    margin-bottom: 35px;
    text-align: center;
  }

  //&__note {
  //  font-weight: 400;
  //  font-size: 12px;
  //  line-height: 15px;
  //  margin-bottom: 15px;
  //}

  //&__search {
  //  min-width: 350px;
  //
  //  @include xs-screen {
  //    min-width: 100%;
  //  }
  //}
}
