.section-lk {
  //margin-bottom: 70px;
  //
  //@include lg-screen {
  //  margin-bottom: 45px;
  //}

  //@include sm-screen {
  //  margin-bottom: 30px;
  //}

  &__head {
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;

    @include xl-screen {
      font-size: 22px;
      line-height: 30px;
    }

    @include sm-screen {
      font-size: 20px;
      line-height: 27px;
    }
  }

  &__sticky {
    @include rmin($break_md) {
      position: sticky;
      top: 15px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 38px;
    border-bottom: 1px solid #CDCDCD;
    min-height: 66px;

    @include lg-screen {
      margin-bottom: 20px;
    }

    @include md-screen {
      align-items: flex-start;
      width: 100%;
      flex-direction: column;
    }
  }

  &__grid {
    display: grid;
    grid-column-gap: 30px;

    @include rmin($break_md) {
      grid-template-columns: [sidebar] 250px [content] 1fr;
    }
  }

  &__sidebar {

    @include rmin($break_md) {
      grid-column: sidebar;
    }

    @include md-screen {
      margin-bottom: 30px;
    }
  }

  &__content {

    @include rmin($break_md) {
      grid-column: content;
    }

    @include sm-screen {
      position: relative;
      padding-top: 15px;

      &:before {
        height: calc(100% + 15px);
        content: "";
        display: block;
        position: absolute;
        background: var(--background-components);
        left: -15px;
        top: 0;
        width: calc(100% + 30px);
        border-radius: 12px 12px 0 0;
        z-index: -1;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    @include lg-screen {
      font-size: 22px;
    }

    @include md-screen {
      margin-bottom: 10px;
    }
  }
}
