.icon-add-basket {
  width: 0.91em;
  height: 1em;
}
.icon-arrow-bottom {
  width: 1.6em;
  height: 1em;
}
.icon-arrow-left {
  width: 0.63em;
  height: 1em;
}
.icon-arrow-link-right {
  width: 0.64em;
  height: 1em;
}
.icon-arrow-long-left {
  width: 1.5em;
  height: 1em;
}
.icon-arrow-right {
  width: 0.63em;
  height: 1em;
}
.icon-arrow-top {
  width: 0.75em;
  height: 1em;
}
.icon-basket {
  width: 0.89em;
  height: 1em;
}
.icon-cadesign {
  width: 0.53em;
  height: 1em;
}
.icon-cart {
  width: 1em;
  height: 1em;
}
.icon-check-mark {
  width: 1em;
  height: 1em;
}
.icon-check {
  width: 1.5em;
  height: 1em;
}
.icon-clip {
  width: 1.15em;
  height: 1em;
}
.icon-clock {
  width: 1em;
  height: 1em;
}
.icon-close {
  width: 1em;
  height: 1em;
}
.icon-copy {
  width: 1em;
  height: 1em;
}
.icon-cross {
  width: 1em;
  height: 1em;
}
.icon-eye {
  width: 1.56em;
  height: 1em;
}
.icon-fier {
  width: 0.87em;
  height: 1em;
}
.icon-geolocation {
  width: 0.8em;
  height: 1em;
}
.icon-hamb-mobile {
  width: 1.25em;
  height: 1em;
}
.icon-hamburger {
  width: 1.43em;
  height: 1em;
}
.icon-handshake {
  width: 1.09em;
  height: 1em;
}
.icon-heart {
  width: 1.12em;
  height: 1em;
}
.icon-home {
  width: 1.11em;
  height: 1em;
}
.icon-jersey {
  width: 1.25em;
  height: 1em;
}
.icon-medal {
  width: 0.75em;
  height: 1em;
}
.icon-message {
  width: 1.5em;
  height: 1em;
}
.icon-ok {
  width: 0.57em;
  height: 1em;
}
.icon-pen {
  width: 1em;
  height: 1em;
}
.icon-phone-big {
  width: 1.06em;
  height: 1em;
}
.icon-phone-v2 {
  width: 1em;
  height: 1em;
}
.icon-phone {
  width: 1em;
  height: 1em;
}
.icon-photo {
  width: 1.33em;
  height: 1em;
}
.icon-play {
  width: 1em;
  height: 1em;
}
.icon-r {
  width: 1.1em;
  height: 1em;
}
.icon-rub {
  width: 0.57em;
  height: 1em;
}
.icon-search {
  width: 1em;
  height: 1em;
}
.icon-share {
  width: 1.14em;
  height: 1em;
}
.icon-swiper-next {
  width: 0.69em;
  height: 1em;
}
.icon-swiper-prev {
  width: 0.69em;
  height: 1em;
}
.icon-switch-dark {
  width: 1.15em;
  height: 1em;
}
.icon-switch-light {
  width: 0.94em;
  height: 1em;
}
.icon-telegram {
  width: 1.2em;
  height: 1em;
}
.icon-tg {
  width: 1.17em;
  height: 1em;
}
.icon-twitter {
  width: 1.3em;
  height: 1em;
}
.icon-user-advantages {
  width: 1em;
  height: 1em;
}
.icon-user {
  width: 0.93em;
  height: 1em;
}
.icon-vb {
  width: 1em;
  height: 1em;
}
.icon-Viber {
  width: 1em;
  height: 1em;
}
.icon-video-play {
  width: 0.88em;
  height: 1em;
}
.icon-video {
  width: 1.56em;
  height: 1em;
}
.icon-vk {
  width: 1.86em;
  height: 1em;
}
.icon-wa {
  width: 1em;
  height: 1em;
}
.icon-warning {
  width: 1em;
  height: 1em;
}
.icon-weigher {
  width: 1em;
  height: 1em;
}
.icon-WhatsApp {
  width: 1em;
  height: 1em;
}
.icon-ya-dzen {
  width: 1em;
  height: 1em;
}
.icon-yandex {
  width: 0.5em;
  height: 1em;
}
